config XENO_SKIN_PSOS
	depends on XENO_OPT_NUCLEUS
	tristate "pSOS+ emulator"
	select XENO_OPT_REGISTRY if XENO_OPT_PERVASIVE
	default n
	help

	This API skin emulates WindRiver's pSOS+ operating system.