
menu "POSIX features"

config XENO_OPT_POSIX_PERIOD
	int "Base period (us)" if XENO_OPT_TIMING_PERIODIC
	default 0
	help
	Duration of the base periodic tick (in microseconds).

	The POSIX skin can express all delays and timeouts either as
	counts of ticks (i.e. jiffy-based), or directly in
	nanoseconds in a tick-less fashion. This paramater defines the
	duration of the base period in microseconds; a null value
	selects the tick-less mode.

	The base period can be overriden at runtime using the
	"tick_arg" module parameter when loading the POSIX skin.

	If in doubt, leave zero in this field.

config XENO_OPT_POSIX_SHM
	bool "Shared memory"
	help

	POSIX skin shared memory areas are regions of memory which can be shared
	between kernel-space and user-space, or used to share synchronization
	objects between kernel-space and user-space.

	If you do not intend to use Xenomai POSIX skin in kernel-space (and
	using the RTDM skin is the preferred way of implementing drivers), leave
	this option unselected.

config XENO_OPT_POSIX_SELECT
	bool "Select syscall"
	select XENO_OPT_SELECT
	help

	This option allows applications using the Xenomai POSIX skin
	in user-space to use the "select" syscall with Xenomai POSIX
	skin file descriptors.

endmenu
