config MODULES
	bool
	default y

config XENO_VERSION
	string
	default "2.0.1"

menu "General"

config XENO_INSTALLDIR
	string "Installation directory"
	default "/usr/realtime"

	help
	This option defines the directory where Xenomai files will
	be installed on your target system.

	This directory may be changed if you double-click in the area
	named "Value". The default installation directory is
	/usr/realtime.

config XENO_LINUXDIR
	string "Linux build tree"
	default "/lib/modules/`uname -r`/build"
	help
	This variable contains the directory where was built your 
        previously patched Linux kernel. This directory may be distinct 
        from the patched Linux kernel source tree. As explained before, 
        you can change the value of the Linux build tree which is fixed 
        by default to /lib/modules/`uname -r`/build
        i.e. the build directory of the running Linux kernel.

menu "Documentation"

config XENO_DOC_DOX
	bool "Build Doxygen-based documentation (HTML)"
	default n
	help
	This option causes the Doxygen-based documentation to be
	built. This option is intended for people actually writing
	documentation and who want to update the pre-built manuals,
	regular users can just use the latter directly. You will need
	the Doxygen toolsuite for regenerating the documentation.

config XENO_DOC_LATEX_NONSTOP
        bool "Enable LaTeX verbose output"
        default n
        help
        By default, all documentation generated with LaTeX uses the 
        silent (batchmode) of LaTeX. If this option is enabled, the 
        verbose (nonstopmode) of LaTeX will be used instead. This 
        option is mainly intended for people writing documentation.

config XENO_DOC_DBX
	bool "Build DocBook XML-based documentation (HTML/PDF)"
	default n
	help
	This option causes the DocBook XML-based documentation to be
	built. This option is intended for people actually writing
	documentation and who want to update the pre-built manuals,
	regular users can just use the latter directly.

config XENO_DBX_NET
        bool "Let the DocBook XML tools use the network"
	depends on XENO_DOC_DBX
        default n
        help
        Let the DocBook tools use the Internet to fetch the DTD and
        XSL stylesheets. If disabled, the documentation generation will
	fail if the necessary DTD(s) and XSL stylesheets can not be found
	on the local computer.

config XENO_DBX_ROOT
        string "Docbook XML root"
	depends on XENO_DOC_DBX
        default ""
        help
        Specify the DocBook XML root (that is, the directory where docbook.dtd
        should be taken). Leave blank to let configure try the "well-known"
        locations.

config XENO_DBX_XSL_ROOT
        string "Docbook XML XSL stylesheet root"
	depends on XENO_DOC_DBX
        default ""
        help
        Specify the DocBook XML XSL root. Leave blank to let configure try the
        "well-known" locations.

endmenu

config XENO_OPT_UDEV
	bool "Enable UDEV support"
	default y
	help
	This options enables the UDEV support. Depends on
	CONFIG_HOTPLUG availability from the kernel.

config XENO_OPT_EXPERT
	bool "Enable expert configuration mode"
	default n
	help
	Enables expert configuration mode.

config XENO_OPT_KSYMS
	bool "Enable debug symbols in modules"
	depends on XENO_OPT_EXPERT
	default n
	help
	This options adds the -g flag when compiling
	kernel modules.

config XENO_OPT_USYMS
	bool "Enable debug symbols in user-space programs"
	depends on XENO_OPT_EXPERT
	default n
	help

	This options adds the -g flag when compiling user-space
	programs.

config XENO_MAINT
	bool "Enable maintainer mode"
	depends on XENO_OPT_EXPERT
	default n
	help

	This option will activate the '--enable-maintainer-mode'
	option in the configure scripts. For more information, refer
	to the autoconf documentation:
	http://sources.redhat.com/autobook/autobook/autobook_26.html#SEC26

config XENO_MAINT_AUTOTOOLS
	bool "Enable Autoconf/Automake maintainer mode"
	depends on XENO_MAINT
	default n

choice
	optional
	prompt "Private maintainer profiles"
	depends on XENO_MAINT

config XENO_MAINT_NONE
	bool "Use standard settings"

config XENO_MAINT_GCH
	bool "Use settings from gilles.chanteperdrix()laposte!net"

config XENO_MAINT_PGM
	bool "Use settings for rpm()xenomai!org"

endchoice

endmenu
