config IPIPE_WANT_ACTIVE_MM
        bool

config XENO_ARCH_FPU
	def_bool SH_FPU

config XENO_ARCH_SYS3264
        def_bool n

menu "Machine/platform-specific options"

config IPIPE_WANT_PREEMPTIBLE_SWITCH
        bool
	select IPIPE_WANT_ACTIVE_MM
	default y if XENO_ARCH_UNLOCKED_SWITCH
	default n if !XENO_ARCH_UNLOCKED_SWITCH

endmenu

source "kernel/xenomai/Kconfig"
source "drivers/xenomai/Kconfig"
