menu "Real-Time Driver Model"

config XENO_OPT_RTDM_FILDES
	int "Maximum number of RTDM file descriptors"
	default 128
	help

	This option defines the maximum number of RTDM file
	descriptors which can be opened at the same time. RTDM file
	descriptors are a global resource all applications share,
	either via the RTDM skin directly or via the embedded services
	of the POSIX skin.

endmenu
