config XENO_GENERIC_STACKPOOL
	bool
	default y

config XENO_FASTSYNCH
	bool
	default y

config XENO_HW_MATH_EMU
        bool
	default y if MATH_EMU || 8XX_MINIMAL_FPEMU

source "kernel/xenomai/nucleus/Kconfig"

menu "Machine"

depends on XENO_OPT_NUCLEUS

config IPIPE_WANT_ACTIVE_MM
        bool

config IPIPE_WANT_PREEMPTIBLE_SWITCH
        bool
	select IPIPE_WANT_ACTIVE_MM
	default y if XENO_HW_UNLOCKED_SWITCH
	default n if !XENO_HW_UNLOCKED_SWITCH

config XENO_HW_FPU
	bool "Enable FPU support"
	depends on PPC_FPU
	default y
	help
	The FPU executes instructions from the processor's normal
	instruction stream. It can handle the types of high-precision
	floating-point processing operations commonly found in
	scientific, engineering, and business applications.
	If your target system has no FPU, say NO here; otherwise,
	enabling FPU support when the hardware is available may
	greatly improve	performance.

config XENO_HW_UNLOCKED_SWITCH
	bool "Enable unlocked context switch"
	depends on IPIPE_HAVE_PREEMPTIBLE_SWITCH
	default y
	help

	The nucleus may allow non-atomic execution of the
	machine-dependent context switching code, so that other CPUs
	and/or local interrupts may execute concurrently.

	This option reduces interrupt latency when costly cache and
	TLB flushes are required to switch context, and may improve
	concurrency on some SMP/multi-core systems as well.

endmenu

source "kernel/xenomai/skins/Kconfig"
source "drivers/xenomai/Kconfig"
