config XENO_SKIN_VXWORKS
	depends on XENO_OPT_NUCLEUS
	tristate "VxWorks emulator"
	select XENO_OPT_REGISTRY if XENO_OPT_PERVASIVE
	help

	This API skin emulates WindRiver's VxWorks operating system.
