config XENO_GENERIC_STACKPOOL
	bool
	default y

config XENO_FASTSYNCH_DEP
	bool
	default y if (CPU_32v3 || CPU_32v4 || CPU_32v4T || CPU_32v5) && !SMP || CPU_32v6 || CPU_32v7

config XENO_FASTSYNCH
	bool
	default y if XENO_FASTSYNCH_DEP

source "kernel/xenomai/nucleus/Kconfig"

menu "Machine"

depends on XENO_OPT_NUCLEUS

config IPIPE_WANT_PREEMPTIBLE_SWITCH
	bool
	default y if XENO_HW_UNLOCKED_SWITCH
	default n if !XENO_HW_UNLOCKED_SWITCH

config IPIPE_WANT_ACTIVE_MM
       def_bool y

config XENO_HW_FPU
	bool "Enable FPU support"
	default y
	help
	The FPU executes instructions from the processor's normal
	instruction stream. It can handle the types of high-precision
	floating-point processing operations commonly found in
	scientific, engineering, and business applications.
	If your target system has no FPU, say NO here; otherwise,
	enabling FPU support when the hardware is available may
	greatly improve	performance.

config XENO_HW_UNLOCKED_SWITCH
	bool "Enable unlocked context switch"
	default y
	help
	The nucleus may allow non-atomic execution of the
	machine-dependent context switching code, so that other CPUs
	and/or local interrupts may execute concurrently.

	This option reduces interrupt latency when costly cache and
	TLB flushes are required to switch context, and is mandatory
	on SMP/multi-core systems prior to Linux 3.8.

	You definitely want to enable that option on low-end ARM
	platforms.

endmenu

source "kernel/xenomai/skins/Kconfig"
source "drivers/xenomai/Kconfig"
