menu "COMEDI drivers"

config XENO_DRIVERS_COMEDI
	depends on XENO_SKIN_RTDM
	tristate "COMEDI interface"
	help

	COMEDI is a popular framework aimed at supporting data
	acquisition drivers (see http://comedi.org).

	This driver stack is a port of the original COMEDI framework
	over the RTDM interface.

source drivers/xenomai/comedi/testing/Kconfig

endmenu
