menu "COMEDI drivers"

config XENO_DRIVERS_COMEDI
	depends on XENO_SKIN_RTDM
	tristate "COMEDI interface"
	help

	COMEDI is a popular framework aimed at supporting data
	acquisition drivers (see http://comedi.org).

	This driver stack is a port of the original COMEDI framework
	over the RTDM interface.

config XENO_DRIVERS_COMEDI_DEBUG
       bool "Comedi debug trace"
       default y
       help

       Enable debugging traces in Comedi so as to monitor Comedi's
       core and drivers behaviours.

config XENO_DRIVERS_COMEDI_DEBUG_LEVEL
       int "Comedi core debug level threshold"
       default 0
       help

       Define the level above which the debugging traces will not be
       displayed.

       WARNING: this threshold is only applied on the Comedi
       core. That will not affect the driver.

source drivers/xenomai/comedi/testing/Kconfig
source drivers/xenomai/comedi/intel/Kconfig
source drivers/xenomai/comedi/national_instruments/Kconfig

endmenu
