config XENO_DRIVERS_TIMERBENCH
	depends on XENO_SKIN_RTDM
	tristate "Timer benchmark driver"
	default n
	help
	Kernel-based benchmark driver for timer latency evaluation.
	See testsuite/latency for a possible front-end.

config XENO_DRIVERS_SWITCHTEST
        depends on XENO_SKIN_RTDM
        tristate "Context switch unit testing driver"
        default n
        help
        Kernel-based driver for unit testing context switches and 
        FPU switches.
