source "kernel/xenomai/Kconfig"
source "drivers/xenomai/Kconfig"

config XENO_ARCH_UNLOCKED_SWITCH
       def_bool IPIPE_WANT_PREEMPTIBLE_SWITCH

config XENO_ARCH_WANT_TIP
       def_bool y

config XENO_ARCH_FPU
	def_bool y

config XENO_ARCH_SYS3264
        def_bool n

config XENO_ARCH_OUTOFLINE_XNLOCK
       bool
       default y
