config XENO_GENERIC_STACKPOOL
	bool
	default y

source "kernel/xenomai/nucleus/Kconfig"

menu "Machine"

depends on XENO_OPT_NUCLEUS

endmenu

source "kernel/xenomai/Kconfig"
source "kernel/xenomai/rtdm/Kconfig"
source "kernel/xenomai/native/Kconfig"
source "drivers/xenomai/Kconfig"
