menu "APIs"

source "skins/native/Kconfig"

source "skins/posix/Kconfig"

source "skins/psos+/Kconfig"

source "skins/uitron/Kconfig"

source "skins/vrtx/Kconfig"

source "skins/vxworks/Kconfig"

source "skins/rtdm/Kconfig"

source "skins/rtai/Kconfig"

config XENO_OPT_UVM
	bool "User-space VM support"
	depends on XENO_OPT_PERVASIVE
	default n
	help

	This feature allows applications based on legacy RTOS
	APIs to run inside virtual machines in user-space
	with hard real-time capabilities.
	If activated, this option will cause in-kernel emulators
	which have been selected in the current menu to be
	compiled as process-embeddable virtual machines.

endmenu
