menu "Real-time GPIO drivers"

config XENO_DRIVERS_GPIO
       tristate
       depends on GPIOLIB

config XENO_DRIVERS_GPIO_BCM2708
	depends on MACH_BCM2708
	select XENO_DRIVERS_GPIO
	tristate "Support for BCM2708 GPIOs"
	help

	Suitable for the GPIO controller present on Broadcom's BCM2708
	chip family.

config XENO_DRIVERS_GPIO_MXC
	depends on GPIO_MXC
	select XENO_DRIVERS_GPIO
	tristate "Support for MXC GPIOs"
	help

	Suitable for the GPIO controller available from
	Freescale/NXP's MXC architecture.

config XENO_DRIVERS_GPIO_DEBUG
       depends on XENO_DRIVERS_GPIO
       bool "Enable GPIO core debugging features"
       
endmenu
