
config XENO_DRIVERS_ANALOGY_NI_MITE
	depends on XENO_DRIVERS_ANALOGY
	tristate "NI MITE driver"
	default n

config XENO_DRIVERS_ANALOGY_NI_TIO
	depends on XENO_DRIVERS_ANALOGY
	tristate "NI TIO driver"
	default n

config XENO_DRIVERS_ANALOGY_NI_MIO
	depends on XENO_DRIVERS_ANALOGY && XENO_DRIVERS_ANALOGY_NI_TIO
	tristate "NI MIO driver"
	default n

config XENO_DRIVERS_ANALOGY_NI_PCIMIO
	depends on XENO_DRIVERS_ANALOGY && XENO_DRIVERS_ANALOGY_NI_TIO && XENO_DRIVERS_ANALOGY_NI_MIO
	tristate "NI PCIMIO driver"
	default n
