
config XENO_DRIVERS_COMEDI_NI_MITE
	depends on XENO_DRIVERS_COMEDI && EXPERIMENTAL
	tristate "NI MITE driver (EXPERIMENTAL)"
	default n

config XENO_DRIVERS_COMEDI_NI_TIO
	depends on XENO_DRIVERS_COMEDI && EXPERIMENTAL
	tristate "NI TIO driver (EXPERIMENTAL)"
	default n

config XENO_DRIVERS_COMEDI_NI_MIO
	depends on XENO_DRIVERS_COMEDI && EXPERIMENTAL
	tristate "NI MIO driver (EXPERIMENTAL)"
	default n

config XENO_DRIVERS_COMEDI_NI_PCIMIO
	depends on XENO_DRIVERS_COMEDI && XENO_DRIVERS_COMEDI_NI_TIO && XENO_DRIVERS_COMEDI_NI_MIO && EXPERIMENTAL
	tristate "NI PCIMIO driver (EXPERIMENTAL)"
	default n
