menu "Nucleus"

config XENO_OPT_PERVASIVE
	bool "Pervasive real-time support in user-space"
	default y
	help

	Enable pervasive real-time support for user-space Linux
	processes, which is the default operating mode for
	Xenomai. Switching this option out only leaves the
	minimal support needed for running in-kernel
	applications, which directly call the real-time APIs from
	kernel modules.

config XENO_OPT_PIPE
	bool "Message pipes"
	default y
	help

	Message pipes are bi-directional FIFO communication
	channels allowing data exchange between real-time kernel
	threads and regular user-space processes. Pipes natively
	preserve message boundaries, but can also be used in byte
	streaming mode from kernel to user-space.

config XENO_OPT_PIPE_NRDEV
	string "Number of pipe devices"
	depends on XENO_OPT_PIPE
	default 32
	help
	
	This option sets the maximum number of pipe devices supported
	in the system. Pipe devices are named /dev/rtpN where N is a
	device minor number ranging from 0 to XENO_OPT_PIPE_NRDEV - 1.

config XENO_OPT_SYS_HEAPSZ
	string "Size of the system heap (Kb)"
	default 128
	help

	The system heap is used for various internal allocations by
	the nucleus and the real-time skins. The size is expressed in
	Kilobytes.

config XENO_OPT_ISHIELD
	bool "Interrupt shield support"
	depends on XENO_OPT_EXPERT && XENO_OPT_PERVASIVE
	default n
	help
	
	This option builds in the interrupt shield support, which can
	be further enabled on a thread-by-thread basis. When enabled
	for a thread, the interrupt shield prevents it from being
	preempted by Linux interrupt handlers when it executes in the
	secondary domain (i.e. under the control of the Linux
	scheduler), thus increasing the execution time accuracy for
	CPU-bound tasks.

	Note: since the interrupt shield adds extra-computation to the
	critical path, applications based on threads running in the
	primary Xenomai domain, hence for which preemption by any kind
	of Linux kernel activities is already prevented by design,
	should leave this option disabled.

config XENO_OPT_STATS
	bool "Statistics collection"
	depends on XENO_OPT_EXPERT
	default y
	help
	
	This option causes the real-time nucleus to collect various
	per-thread runtime statistics, which are accessible through
	the /proc/xenomai/stats interface.

config XENO_OPT_DEBUG
	bool "Debug support"
	depends on XENO_OPT_EXPERT
	default n
	help
	
	This option activates various debugging checks inside the core
	system. Doing so adds a significant runtime overhead,
	worsening the latency figures especially on SMP kernels.
	Do not switch this option on unless you really know what you
	are doing.

config XENO_OPT_WATCHDOG
	bool "Watchdog support"
	depends on XENO_OPT_EXPERT
	default n
	help
	
	This option activates a watchdog aimed at detecting runaway
	real-time threads. If enabled, the watchdog triggers after 4
	seconds of uninterrupted real-time activity without Linux
	interaction; in such event, the current real-time thread is
	forcibly suspended. The built-in watchdog support operates on
	behalf of the timer tick handler, thus is only active after
	the timer has been started.

config XENO_OPT_CONFIG_GZ
	bool "Wrapped configuration file"
	depends on XENO_OPT_EXPERT
	default n
	help
	
	This option enables the complete Xenomai ".xeno_config"
	file contents to be saved in the nucleus. It provides
	documentation of which options are used in a running system or
	in an on-disk nucleus image.  This information can be
	extracted from the nucleus image file with the regular Linux
	kernel script "scripts/extract-ikconfig" and used as input to
	rebuild the current Xenomai system or to build another
	system.  It can also be extracted from a running system by
	reading /proc/xenomai/config.gz if enabled.

menu "Scalability"
	depends on XENO_OPT_EXPERT

config XENO_OPT_SCALABLE_SCHED
	bool "O(1) scheduler"
	default n
	help
	
	This option causes a multi-level priority queue to be
	used in the real-time thread scheduler, so that it operates
	in constant-time regardless of the number of _concurrently
	runnable_ threads (which might be much lower than the total
	number of active threads). Its use is recommended for
	large multi-threaded systems involving more than 10 of such
	threads; otherwise, the default linear method usually performs
	better with lower memory footprints.

config XENO_OPT_SCALABLE_PRIOS
	string "Number of priority levels"
	depends on XENO_OPT_SCALABLE_SCHED
	default 256
	help

	This option sets the maximum number of priority levels available
	within the scalable scheduler's multi-level queue. This value
	must be higher or equal than the maximum priority range which
	could be required for running the real-time skin used by the
	application. For instance, the native skin needs a
	hundred priority levels.

endmenu

menu "LTT tracepoints filtering"
	depends on XENO_OPT_EXPERT

config XENO_OPT_FILTER_EVIRQ
	bool "Disable IRQ-related tracepoints"
	default y if XENO_OPT_FILTER_EVALL=y
	help
	
	When LTT support is active, this option disables tracepoints
	inside real-time interrupt handlers.

config XENO_OPT_FILTER_EVTHR
	bool "Disable thread-related tracepoints"
	default y if XENO_OPT_FILTER_EVALL=y
	help
	
	When LTT support is active, this option disables tracepoints
	inside most thread-related services.

config XENO_OPT_FILTER_EVSYS
	bool "Disable syscall-related tracepoints"
	default y if XENO_OPT_FILTER_EVALL=y
	help
	
	When LTT support is active, this option disables tracepoints
	inside the shadow syscall dispatcher.

config XENO_OPT_FILTER_EVALL
	bool "Disable all tracepoints"
	default n
	help
	
	This option disables all LTT tracepoints inside Xenomai.

endmenu

endmenu
