menu "Drivers"

source "drivers/xenomai/serial/Kconfig"
source "drivers/xenomai/testing/Kconfig"
source "drivers/xenomai/can/Kconfig"
source "drivers/xenomai/analogy/Kconfig"
source "drivers/xenomai/ipc/Kconfig"

endmenu
